@media screen and (max-width: 767px) {    
    .menu-container {
        z-index: 900;
        display: none;

        position: fixed;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;
        padding: 48px 40px 48px 40px;

        font-weight: 500;
        letter-spacing: 0.02em;
        line-height: 1.18;

        background-color: $white;

        &.is-open {
            display: block;
        }
    }

    .button-menu {
        z-index: 901;
        display: block;
        padding: 0;
        border: none;
        background-color: transparent;

        @include transitionOne(fill);

        &:hover,
        &:focus {
            fill: $accent-color;
        }
    }

    .button-menu__close {
        display: none;
    }

    .is-open {
        & .button-menu__close {
            display: block;
        }

        & .button-menu__open {
            display: none;
        }
    }

    .header__social-networks {
        display: inline;

        padding-right: 10px;
        padding-left: 10px;
        border-right: 1px solid rgba(33, 33, 33, 0.2);

        &:first-child {
            padding-left: 0;
        }

        &:last-child {
            padding-right: 0;
            border-right: none;
        }

        font-size: 18px;
        line-height: 1.22;


        color: $accent-color;
    }
}