.hero {
    max-width: 1600px; 
    margin-left: auto;
    margin-right: auto;
       

    background-color: #c4c4c4;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(.././images/mobile/hero@1x.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
}

@media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(.././images/mobile/hero@2x.jpg);
        }
}

@media screen and(min-width: 481px) {
    .hero {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(.././images/tablet/hero@1x.jpg);
    }

    @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(.././images/tablet/hero@2x.jpg);
        }
    }
}

@media screen and(min-width: 769px) {
    .hero {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(.././images/desktop/hero@1x.jpg);
    }

    @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(.././images/desktop/hero@2x.jpg);
        }
    }
}

.hero__title {    
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;

    font-weight: 900;    
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: $white;
}

.hero__button {
    @extend %button;

    padding-left: 32px;
    padding-right: 32px;

    @include transitionOne(background-color);

    &:hover,
    &:focus {
        background-color: $button-hover;
    }
}

@media screen and (min-width: 480px) and (max-width: 1199px) {
    .hero {        
        height: 400px;
        padding-top: 118px;
        padding-bottom: 118px;  

    }
    .hero__title {
        width: 360px;
        height: 84px; 

        font-size: 26px; 
        line-height: 1.62;
        
    }
}

@media screen and (min-width: 1200px) {
    .hero {        
        height: 600px;     
        padding-top: 200px;
        padding-bottom: 200px;       
    }

    .hero__title {
        width: 696px;
    
        font-size: 44px;
        line-height: 1.36;      
        
    }
}