.logo {
    font-family: $logo-font-family;    
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;

    color: $accent-color;
}

.header__logo-part {
    color: $title-text-color;
}

.footer__logo-part {
    color: $white;
}