.partners__title {
    @extend %studioTitle;
}

.partners-logo {
    display: flex;    
}

.partners-logo__link {
    display: flex;
    padding-top: 16px;
    padding-bottom: 16px; 

    border: 1px solid #AFB1B8;
    border-radius: 4px;

    fill: #AFB1B8;

    @include transitionTwo(fill, border);
    
    &:hover,
    &:focus {
        fill: $accent-color;
        border: 1px solid $accent-color;
    }
}

@media screen and (max-width: 767px) {
    .partners-logo {        
        max-width: 450px;
    }

    .partners-logo__item {
        width: calc((100% - 30px) / 2);

        &:nth-child(2n - 1) {
            margin-right: 30px;
        }

        &:not(:nth-last-child(-n + 2)) {
            margin-bottom: 30px;
        }
    }

    .partners-logo__link { 
        padding-left: 52px;
        padding-right: 52px;         
    }
}

@media screen and (max-width: 1199px) {
    .partners__title {
        margin-bottom: 30px;

        font-size: 28px;
        line-height: 1.18;
        text-align: center;

        color: $title-text-color;
    }

    .partners-logo {        
        flex-wrap: wrap;        
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .partners-logo__item {
        width: calc((100% - 60px) / 3);

        &:not(:nth-child(3n)) {
            margin-right: 30px;
        }
    
        &:not(:nth-last-child(-n + 3)) {
            margin-bottom: 30px;
        }
    }

    .partners-logo__link {
        padding-left: 60px;
        padding-right: 60px;        
    }
}

@media screen and (min-width: 1200px) {

    .partners-logo__item {
        width: calc((100% - 150px) / 6);
        height: 92px;

        &:not(&:nth-child(6)) {
            margin-right: 30px;
        }
    }

    .partners-logo__link {
        padding-left: 32px;
        padding-right: 32px;
    }
}