.team {
    background-color: #F5F4FA;
}

.team__title {
    @extend %studioTitle;
}

.team-card {

    background-color: $white;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-card__title {
    margin-bottom: 10px;

    font-weight: 500;       

    color: $title-text-color;
}

.team-card__title, 
.team-card__job-title {
    font-size: 16px;
    line-height: 1.19;    

    text-align: center;
}

.team-card__job-title {
    margin-bottom: 16px;
}

@media screen and (max-width: 767px) {
    .team-card {                  

        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }

    .team-card__thumb {
        padding-top: 30px;
        padding-right: 122px;
        padding-bottom: 24px;
        padding-left: 122px;
    }
}

@media screen and (max-width: 1199px) {
    .team__title {
        margin-bottom: 30px;

        font-size: 28px;
        line-height: 1.18;

        text-align: center;

        color: #212121;
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .team-card {
        max-width: 354px;

        &:nth-child(2n-1) {
            margin-right: 30px;
        }
    
        &:not(:nth-last-child(-n + 2)) {
            margin-bottom: 30px;
        }        
    }

    .team-card__thumb {
        padding-top: 30px;
        padding-right: 74px;
        padding-bottom: 24px;
        padding-left: 74px;
    }
}

@media screen and (min-width: 768px) {
    .team__list {
        display: flex;
        flex-wrap: wrap;
    }
}

@media screen and (min-width: 1200px) {    

    .team-card {
        width: calc((100% - 90px) / 4);

        &:not(&:nth-child(4n)) {
            margin-right: 30px;
        }
    }

    .team-card__thumb {
        padding: 30px 32px;
    }
}