$accent-color: #2196F3;
$main-text-color: #757575;
$title-text-color: #212121;
$white: #ffffff;
$button-hover: #188CE8;

$main-font-family: 'Roboto', sans-serif;
$logo-font-family: 'Raleway', sans-serif;